    <% @posts.each do |post| %>
    <div class="span6">
    <h6><%= post.name %></h6>
    <%= post.content %>
	  <% post.comments.each do |comment| %>
		<a class="label label-warning" href="#" rel="tooltip" title="<%= comment.commenter %>:<%= comment.body%>">#</a>
	  <% end %><br/>         
    <div align=right><%= link_to 'Show', post, :class => 'btn btn-info' %></div> 
    </div>
    <% end %>