<div class="container">
<div class="hero-unit ">
<h2>Post some Points know somewhere!
<%= link_to t('.new', :default => t("helpers.links.new")), new_post_path, :class => 'btn btn-danger' %>
</h2>

<%= form_for Post.new do |f| %>
 <%= f.text_field :name %>
 <%= f.text_field :title %>
 <%= f.text_area :content, :size => "60x1" %>
 <%= f.submit "New Post" %>
<% end %>

</div>

   
  <div class="row">
    
    <%= render :partial => @posts %>

  </div>                
</div>
<script>
$ (function (){ $("#example").popover();  })
$("[rel=tooltip]").tooltip();
</script>

